# RusPiRo {{project-name}}

*Place the brief description here*

[![Travis-CI Status](https://api.travis-ci.com/RusPiRo/{{project-name}}.svg?branch=release)](https://travis-ci.com/RusPiRo/{{project-name}})
[![Latest Version](https://img.shields.io/crates/v/{{project-name}}.svg)](https://crates.io/crates/{{project-name}})
[![Documentation](https://docs.rs/{{project-name}}/badge.svg)](https://docs.rs/{{project-name}})
[![License](https://img.shields.io/crates/l/{{project-name}}.svg)](https://github.com/RusPiRo/{{project-name}}#license)

## Usage

To use this crate simply add the dependency to your ``Cargo.toml`` file:

```toml
[dependencies]
{{project-name}} = "0.0.1"
```

*Add further helpful usage scenarios for this crate here given some brief code snippets.*

## License

Licensed under Apache License, Version 2.0, ([LICENSE-APACHE](LICENSE-APACHE) or http://www.apache.org/licenses/LICENSE-2.0) or MIT ([LICENSE-MIT](LICENSE-MIT) or http://opensource.org/licenses/MIT)) at your choice.